/*  
==========================================================
- Theme Style
==========================================================
*/

/* Main Menu Style */
.navbar-toggler {
    border: 1px solid rgba(0,0,0,0.09);
}
header .container {
    max-width: 1400px;
}
.notout-navbar {
    position: relative;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    min-height:100px;
    background: #014629;
	background: transparent;
}
.notout-menu-wrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.notout-navbar-brand {
    max-width: 200px;
}
.notout-main-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.notout-main-menu li {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    z-index: 100;
}
.notout-main-menu li a {
    display: block;
    padding: 20px 15px;
	color:#ffffff;
	text-decoration: none;
}
.notout-main-menu li a:hover{
	color:#f0f812;
}
.notout-main-menu li > .sub-menu {
    display: none;
    position: absolute;
    top: 64px;
    left: 0px;
    z-index: 10;
    padding: 0px;
    margin: 0px;
    width: 225px;
    background: #f1f1f1;
}
.notout-main-menu li > .sub-menu li {
    display: block;
    position: relative;
    z-index: 0;
}
.notout-main-menu li > .sub-menu li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    line-height: 1.5;
    border-bottom: 1px solid rgba(255,255,255, 0.7);
}
.notout-main-menu li > .sub-menu li ul.sub-menu {
    display: block;
    position: absolute;
    width: 225px;
    left: 100%;
    top: 0%;
    z-index: 1;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: #f1f1f1;
}
.open {
    display: block !important;
}
.hide {
    display: none !important;
}
.fixed-to-top {
    position: relative;
    top: 0;
    left: 0;
    z-index: 100000;
    /* transition: all 0.3s ease-in-out; */
}
.notout-main-menu .menu-item-has-children {
    padding-right: 10px;
}
.notout-main-menu > .menu-item-has-children:after {
    content: "\f078";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    line-height: 1;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 10px;
}
.notout-main-menu > .menu-item-has-children:hover::after {
    content: "\f077";
}
.notout-main-menu > li ul.sub-menu .menu-item-has-children:after {
    content: "\f054";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    line-height: 1;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 10px;
}
.notout-main-menu > li ul.sub-menu .menu-item-has-children:hover::after {
    content: "\f053";
}
.notout-main-menu > li ul.sub-menu li.menu-item-has-children:after {
    right: 10px;
}
.notout-navbar-toggler,
.notout-main-menu li .mb-toggle {
    display: none;
}
.mb-toggle .dashicons {
    margin: 50%;
    transform: translate(-50%, -50%);
}
.current-menu-item > a {
    color: #222;
    font-weight: 500;
}
/* Portrait and Landscape */
@media only screen
and (max-width: 1080px) {
 
    .notout-navbar .container {
        padding: 0;
    }
    .notout-brand-wrap {
        padding: 0 15px;
    }
    a.notout-navbar-brand {
        font-weight: 600;
    }
    a.notout-navbar-brand,
    a.notout-navbar-brand:visited,
    .notout-navbar-toggler {
        color: #fff
    }
    .notout-brand-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        border-bottom: 0px solid rgba(255,255,255, 0.7);
    }
    .notout-navbar-toggler {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .notout-main-menu {
        display: none;
        width: 100%;
        padding: 0 15px;
        background:#015A30;
		position: absolute;
        top: 85px;
		padding: 0 0;
    }
    .notout-main-menu > li {
        display: block;
        border-bottom:1px solid rgb(12 108 63);
    }
    .notout-main-menu li a {
        padding: 10px 20px;
    }
    .notout-main-menu .menu-item-has-children:after {
        display: none;
    }
    .notout-main-menu li .mb-toggle {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        color: #333;
        text-align: center;
        line-height: 2.5;
        top: 2px;
        right: 0px;
    }
    .notout-main-menu li ul {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .notout-main-menu li ul li {
        display: block;
        position: relative;
    }
    .notout-main-menu > li ul.sub-menu {
        display: none;
        width: 100%;
        position: relative;
        top: 0;
        background-color: #fff;
        padding: 0px 0px 0px 10px;
    }
    .notout-main-menu > li ul.sub-menu > li {
        border-bottom: 1px solid rgba(0,0,0,0.05);
    }
    .notout-main-menu > li ul.sub-menu li:first-child {
        border-top: 1px solid rgba(0,0,0,0.05);
    }
    .notout-main-menu > li ul.sub-menu > li:last-child {
        border: 0;
    }
    .notout-main-menu > li ul.sub-menu > li:only-child {
        border-top: 1px solid rgba(0,0,0,0.05);
    }
    .notout-main-menu li > .sub-menu li ul.sub-menu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 0px 0px 0px 10px;
    }
    .notout-main-menu .menu-item-has-children {
        padding-right: 0;
    }
    .notout-main-menu li > .sub-menu li a {
        padding: 10px 0px;
    }

    .notout-navbar-toggler::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#dadada;
        position: absolute;
        left: 0;
        top: 15px;
    }
    .notout-navbar-toggler::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#dadada;
        position: absolute;
        left: 0;
        top: 15px;
    }
    .notout-navbar-toggler i::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#dadada;
        position: absolute;
        left: 0;
        top: 7px;
    }
    .notout-navbar-toggler::before {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#dadada;
        position: absolute;
        left: 0;
        top: 0;
    }
    .notout-navbar-toggler i::before {
        visibility: hidden;
    }
    .notout-navbar-toggler {
        display: block;
        right: 6px;
        top: 30px;
        width: 24px;
        position: absolute;
        cursor: pointer;
        border: 0;
        color: #dadada;
        z-index: 9;
        width: 36px;
        padding: 2px;
    }
    .notout-navbar-toggler,
    .notout-navbar-toggler:before,
    .notout-navbar-toggler:after,
    .notout-navbar-toggler.js-hide-nav:before,
    .notout-navbar-toggler.js-hide-nav:after {
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    .notout-navbar-toggler.js-hide-nav:before {
        moz-transform: rotate(45deg) translateX(6px) translateY(6px);
        -webkit-transform: rotate(45deg) translateX(6px) translateY(6px);
        -o-transform: rotate(45deg) translateX(6px) translateY(6px);
        -ms-transform: rotate(45deg) translateX(6px) translateY(6px);
        transform: rotate(45deg) translateX(6px) translateY(6px);
    }
    .notout-navbar-toggler.js-hide-nav:after {
        -moz-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -webkit-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -o-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -ms-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        transform: rotate(-45deg) translateX(5px) translateY(-5px);
    }
    .notout-navbar-toggler.js-hide-nav i:after {
        visibility: hidden;
    }
}
.bottom-footer .container {
        max-width: 1400px;
		padding: 0 0px;
    }
.bottom-footer{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#023821+0,016334+100 */
    background: linear-gradient(135deg,  #023821 0%,#016334 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    min-height: 450px;
    padding: 100px 30px 18px;
   }
.bottom-footer h4{
	color:#ffffff;
	margin: 0px 0 12px 0;
}
.bottom-footer ul{
	margin:0;
	padding:0;
}
.bottom-footer ul li{
	list-style-type:none;
}
.foo-colume-5 p a,
.bottom-footer ul li a{
	color:#ffffff;
	font-size: 15px;
	text-decoration:none !important;
}
.foo-colume-5 p a:hover,
.bottom-footer ul li a:hover{
	color:#f0f812;
}
.footer-copy-right{
	text-align:center;
}
.bottom-footer a,
.bottom-footer p,
.footer-copy-right p{
	color:#ffffff;
	font-size: 15px;
}

.first-bottom{
	margin-bottom: 55px;
    border-bottom: 1px solid #02703d;
    padding-bottom: 36px !important;
}

.brand-description {
            color: #b8d4d4;
            line-height: 1.6;
            font-size: 15px;
        }

        .subscribe-section {
            flex: 1;
            min-width: 300px;
        }

        .subscribe-section h3 {
            font-size: 24px;
            margin-bottom: 10px;
			color: #ffffff;
			margin: 0;
            padding: 0;
        }

        .subscribe-section p {
            color: #b8d4d4;
            margin-bottom: 20px;
            font-size: 14px;
        }

        .subscribe-form {
            display: flex;
            gap: 10px;
        }

        .subscribe-form input {
            flex: 1;
            padding: 15px 20px;
            border: none;
            border-radius: 8px;
            color: #fff !important;
            background: rgba(255, 255, 255, 0.1);
            font-size: 14px;
			outline:0;
        }

        .subscribe-form input::placeholder {
            color: #b8d4d4;
        }

        .subscribe-form button {
            padding: 15px 25px;
            background:#04B21B;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.3s;
			outline:0;
        }

        .subscribe-form button:hover {
            background: #e6d43d;
            transform: translateX(3px);
        }
.subscribe-form input {
    flex: 1;
    padding: 15px 20px !important;
    border: none;
    border-radius: 8px !important;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 14px;
	border:0px !important;
}
.footer .widget-title{
	margin:0;
	padding:0;
}
.foo-colume-1 .widget-title{
	 color:#f0f812;
}
.logo-content{
	 max-width: 490px;
}
.foo-colume-2 {
    webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.foo-colume-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20.666667%;
    flex: 0 0 21.666667%;
    max-width: 21.666667%;
}
.foo-colume-5 p{
	margin-bottom:15px;
}
.foo-colume-5 .widget {
    margin: 0 0 0;
}
.footer h4,
.footer .widget-title {
    font-size: 19px;
}
.top-banner-bg{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#023821+0,016334+100 */
background: linear-gradient(to bottom,  #023821 0%,#016334 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.tob-banner-title span{
	color:#f0f812;
}
.view-button a{
	text-decoration:none !important;
}

/*animation start*/
.animation-container {
   flex: 1;
   display: flex;
   align-items: center;
   position: relative;
   width: 100%;
   overflow:hidden;
 }

.cricket-text {
  font-size: 455px;
  font-weight: bold;
      color: #176c46;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
   white-space: nowrap;
  position: relative;
	opacity:0.10;
  text-transform:uppercase;
  line-height:380px;
}

.left-to-right {
    animation: slideLeftToRight 30s linear infinite;
 }
.right-to-left {
   animation: slideRightToLeft 30s linear infinite;
 }

@keyframes slideLeftToRight {
            0% {
                transform: translateX(-100vw);
            }
            100% {
                transform: translateX(100vw);
            }
        }

        @keyframes slideRightToLeft {
            0% {
                transform: translateX(100vw);
            }
            100% {
                transform: translateX(-100vw);
            }
        }

/*animation end*/
.know-list-content ul{
	margin:0;
	padding:0;
}
.know-list-content ul li{
	list-style-type:none;
	position:relative;
	color:#696969;
	padding-left: 27px;
	font-size:18px;
}
.know-list-content ul li:before{
	content:'';
	background: url(../img/checkbox.png) no-repeat center;
	width:16px;
	height:17px;
	top:5px;
	left:0;
	position: absolute;
}


/*scroll animation start logo*/
.scroll-wrapper {
            flex: 1;
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
			
        }
.scroll-full-section,
.logo-scroll{
	overflow:hidden;
}
.logo-box {
     display: flex;
    gap: 0 136px;
    align-items: center;
}
.scroll-wrapper .box-item span {
    color: #35cc6c;
}
.second-scroll-box .box-item span {
    color: #ffffff;
    text-shadow: 2px 2px 0 #35cc6c, -2px 2px 0 #35cc6c, -2px -2px 0 #35cc6c, 2px -2px 0 #35cc6c;
}
.animated-text {
     color: #fff;
	font-size: 100px;
    white-space: nowrap;
	font-weight:bold;
}

.move-forward {
    animation: slideLeftToRight 30s linear infinite;
}

.move-backward {
    animation: slideRightToLeft 30s linear infinite;
}

@keyframes slideLeftToRight {
   0% {
       transform: translateX(-100vw);
}
   100% {
        transform: translateX(100vw);
            }
}

@keyframes slideRightToLeft {
    0% {
        transform: translateX(100vw);
    }
    100% {
         transform: translateX(-100vw);
     }
}
/*scroll animation end*/

/*blog start*/
.cricket-container .blog-grid {
            display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));
			grid-gap: 40px;
        }

        .cricket-container .blog-card {
            border-radius: 0px;
            overflow: hidden;
            transition: all 0.3s ease;
        }

        .cricket-container .blog-card:hover {
            transform: translateY(-5px);
        }

        .cricket-container .blog-image {
            width: 100%;
            height:368px;
            object-fit: cover;
            border-radius: 18px;
        }

        .cricket-container .blog-content {
            padding: 30px;
			background-color:#04B21B;
            border-radius: 18px;
        }
.cricket-container .blog-main-content {
    padding-left:50px;
    margin-top: -80px;
    position: relative;
}
.cricket-container .blog-content.green {
            background-color: #6ABF69;
            color: white;
        }

        .cricket-container .blog-meta {
            gap: 20px;
            margin-bottom: 18px;
            font-size: 14px;
            color: #ffffff;
			line-height: 22px;
			border-bottom: 1px solid #45c556;
			padding-bottom: 18px;
        }
        .cricket-container .blog-meta span{
			position:relative;
            margin-right: 15px;
		}
		.cricket-container .blog-meta .meta-date:before{
			content: "\f133";
			top:5px;
			left:0;
			display: inline-block;
			font-family: var(--fa-style-family, "Font Awesome 6 Free");
			font-weight: var(--fa-style, 900);
     }
.cricket-container .blog-meta .meta-stadium:before{
	content: "\f041";
	font-family: var(--fa-style-family, "Font Awesome 6 Free");
	font-weight: var(--fa-style, 900);
	display: inline-block;
}
.cricket-container .blog-meta .time-icon:before{
    content: "\f017";
	font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
}
        .cricket-container .blog-content.green .blog-meta {
            color: rgba(255, 255, 255, 0.9);
        }

       

        .cricket-container .blog-meta svg {
            width: 16px;
            height: 16px;
        }

        .cricket-container .blog-title {
           font-size: 18px;
			font-weight: 500;
			color: #000000;
			margin-bottom: 25px;
			line-height: 26px;
			margin: 0 0 15px 0;
			padding: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
        }
		.cricket-container .blog-title a{
			color: #ffffff;
			text-decoration:none !important;
		}
        .cricket-container .blog-content.green .blog-title {
            color: white;
        }

        .cricket-container .read-more {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            color: #ffffff;
            font-weight: 600;
            text-decoration: none;
            transition: gap 0.3s ease;
			font-size: 15px;
			text-decoration: none !important;
        }

        .cricket-container .blog-content.green .read-more {
            color: white;
        }

        .cricket-container .read-more:hover {
            gap: 12px;
        }
/*blog end*/

.label-text-content a{
	text-decoration:none !important;
}
.desvription-content p{
    Color: #ffffff;
    font-size: 17px;
    line-height: 28px;
}

.cricket-right-colum-box .elementor-icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #04B21B;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
