/*  
==========================================================
- Theme Style
==========================================================
*/

/* Main Menu Style */
.navbar-toggler {
    border: 1px solid rgba(0,0,0,0.09);
}
.notout-navbar {
    position: relative;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    min-height: 60px;
    background: #f1f1f1;
}
.notout-menu-wrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.notout-navbar-brand {
    max-width: 200px;
}
.notout-main-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.notout-main-menu li {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    z-index: 100;
}
.notout-main-menu li a {
    display: block;
    padding: 20px 15px;
}
.notout-main-menu li > .sub-menu {
    display: none;
    position: absolute;
    top: 64px;
    left: 0px;
    z-index: 10;
    padding: 0px;
    margin: 0px;
    width: 225px;
    background: #f1f1f1;
}
.notout-main-menu li > .sub-menu li {
    display: block;
    position: relative;
    z-index: 0;
}
.notout-main-menu li > .sub-menu li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    line-height: 1.5;
    border-bottom: 1px solid rgba(255,255,255, 0.7);
}
.notout-main-menu li > .sub-menu li ul.sub-menu {
    display: block;
    position: absolute;
    width: 225px;
    left: 100%;
    top: 0%;
    z-index: 1;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: #f1f1f1;
}
.open {
    display: block !important;
}
.hide {
    display: none !important;
}
.fixed-to-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    /* transition: all 0.3s ease-in-out; */
}
.notout-main-menu .menu-item-has-children {
    padding-right: 10px;
}
.notout-main-menu > .menu-item-has-children:after {
    content: "\f078";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    line-height: 1;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 10px;
}
.notout-main-menu > .menu-item-has-children:hover::after {
    content: "\f077";
}
.notout-main-menu > li ul.sub-menu .menu-item-has-children:after {
    content: "\f054";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    line-height: 1;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 10px;
}
.notout-main-menu > li ul.sub-menu .menu-item-has-children:hover::after {
    content: "\f053";
}
.notout-main-menu > li ul.sub-menu li.menu-item-has-children:after {
    right: 10px;
}
.notout-navbar-toggler,
.notout-main-menu li .mb-toggle {
    display: none;
}
.mb-toggle .dashicons {
    margin: 50%;
    transform: translate(-50%, -50%);
}
.current-menu-item > a {
    color: #222;
    font-weight: 500;
}
/* Portrait and Landscape */
@media only screen
and (max-width: 1080px) {
    .notout-navbar {
        background-color: #303030;
    }
    .notout-navbar .container {
        padding: 0;
    }
    .notout-brand-wrap {
        padding: 0 15px;
    }
    a.notout-navbar-brand {
        font-weight: 600;
    }
    a.notout-navbar-brand,
    a.notout-navbar-brand:visited,
    .notout-navbar-toggler {
        color: #fff
    }
    .notout-brand-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        border-bottom: 1px solid rgba(255,255,255, 0.7);
    }
    .notout-navbar-toggler {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .notout-main-menu {
        display: none;
        width: 100%;
        padding: 0 15px;
        background: #f1f1f1;
    }
    .notout-main-menu > li {
        display: block;
        border-bottom: 1px solid rgba(255,255,255, 0.7);
    }
    .notout-main-menu li a {
        padding: 10px 0px;
    }
    .notout-main-menu .menu-item-has-children:after {
        display: none;
    }
    .notout-main-menu li .mb-toggle {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        color: #333;
        text-align: center;
        line-height: 2.5;
        top: 2px;
        right: 0px;
    }
    .notout-main-menu li ul {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .notout-main-menu li ul li {
        display: block;
        position: relative;
    }
    .notout-main-menu > li ul.sub-menu {
        display: none;
        width: 100%;
        position: relative;
        top: 0;
        background-color: #fff;
        padding: 0px 0px 0px 10px;
    }
    .notout-main-menu > li ul.sub-menu > li {
        border-bottom: 1px solid rgba(0,0,0,0.05);
    }
    .notout-main-menu > li ul.sub-menu li:first-child {
        border-top: 1px solid rgba(0,0,0,0.05);
    }
    .notout-main-menu > li ul.sub-menu > li:last-child {
        border: 0;
    }
    .notout-main-menu > li ul.sub-menu > li:only-child {
        border-top: 1px solid rgba(0,0,0,0.05);
    }
    .notout-main-menu li > .sub-menu li ul.sub-menu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 0px 0px 0px 10px;
    }
    .notout-main-menu .menu-item-has-children {
        padding-right: 0;
    }
    .notout-main-menu li > .sub-menu li a {
        padding: 10px 0px;
    }

    .notout-navbar-toggler::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#dadada;
        position: absolute;
        left: 0;
        top: 15px;
    }
    .notout-navbar-toggler::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#dadada;
        position: absolute;
        left: 0;
        top: 15px;
    }
    .notout-navbar-toggler i::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#dadada;
        position: absolute;
        left: 0;
        top: 7px;
    }
    .notout-navbar-toggler::before {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#dadada;
        position: absolute;
        left: 0;
        top: 0;
    }
    .notout-navbar-toggler i::before {
        visibility: hidden;
    }
    .notout-navbar-toggler {
        display: block;
        right: 10px;
        top: 20px;
        width: 24px;
        position: absolute;
        cursor: pointer;
        border: 0;
        color: #dadada;
        z-index: 9;
        width: 36px;
        padding: 2px;
    }
    .notout-navbar-toggler,
    .notout-navbar-toggler:before,
    .notout-navbar-toggler:after,
    .notout-navbar-toggler.js-hide-nav:before,
    .notout-navbar-toggler.js-hide-nav:after {
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    .notout-navbar-toggler.js-hide-nav:before {
        moz-transform: rotate(45deg) translateX(6px) translateY(6px);
        -webkit-transform: rotate(45deg) translateX(6px) translateY(6px);
        -o-transform: rotate(45deg) translateX(6px) translateY(6px);
        -ms-transform: rotate(45deg) translateX(6px) translateY(6px);
        transform: rotate(45deg) translateX(6px) translateY(6px);
    }
    .notout-navbar-toggler.js-hide-nav:after {
        -moz-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -webkit-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -o-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -ms-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        transform: rotate(-45deg) translateX(5px) translateY(-5px);
    }
    .notout-navbar-toggler.js-hide-nav i:after {
        visibility: hidden;
    }
}